.custom-switch {
    margin-top: 6px
}

.switch {
    max-width: 90px;
    margin-right: 8px
}

#drpAttorney {
    min-width: 170px
}

.inactive {
    color: #808080 !important
}

optgroup[label] {
    color: rgb(0, 120, 212);
    background-color: #eee;
    font-size: 1rem;
}

.command-icon {
    cursor: pointer ;
    max-width:16px;
}

label em {
    color: #dc3545 !important
}

optgroup .inactive {
    background-color: #fff;
    font-size: .9rem;
}

#drpCountyLetter, #txtCaseYear {
    width: 4rem;
    min-width: 4rem;
    max-width: 4rem;
}

#txtCaseType {
    width: 3rem;
    min-width: 3rem;
    max-width: 3rem
}

#txtCaseSequence {
    min-width: 6rem;
}

.form-control:disabled {
    cursor: not-allowed;
}

small.input-group-text {
    font-size: .8rem !important;
    height: 100%
}

.modal-progress {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.center-progress {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 50px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
/*Calendar Css*/
.event-item {
    cursor: pointer;
    border-bottom: solid 1px #ccc !important;
    margin-bottom: 5px; 
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size:.7rem;
}
    .event-item a {
        font-size: .7rem !important;
    }
    .event-item:hover {
        background-color: #eee
    }
.day{overflow-y:auto !important;}
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }

    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }

    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}
.SumoSelect .select-all {
    height: 35px !important;
}
.container-fluid{padding:0 !important;}
.auto-size{width:auto !important;}
.case-number-item{min-width:150px}
.radio-button-list {
    display: block;
}

.radio-buttons-list input, .radio-buttons input {
    margin-right: 5px;
    margin-bottom: 0px;
}

.radio-button-list label, .radio-buttons label {
    padding: 0 8px 0 5px;
    margin-right: 5px;
    margin-bottom: 0 !important;
    display: inline
}

.radio-button-list li {
    list-style: none;
}
/*Report classes*/
.caseReport {
    min-width: 600px;
}

    .caseReport td {
        padding: 4px;
    }

.caseDetail {
    width: 100%;
    background-color: #FCFCFC;
    border-right: dotted 1px #333;
    border-left: dotted 1px #333;
}

    .caseDetail td {
        padding: 4px
    }

.caseHeader td {
    font-weight: bold;
    padding: 4px;
    background-color:ghostwhite;
}

.caseCount {
    white-space:nowrap
}

.containerDetail {
    padding-left: 25px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.caseNumber {
   white-space:nowrap
}

.caseCount {
    text-align: right;
}

.gradTotal {
    text-align: right;
    font-weight: bold;
}

.totals {
    background-color: #000;
    color:#fff;
}
