################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JACS.csproj.dtbcache.json
/.vs/JACS/v17/DocumentLayout.backup.json
/.vs/JACS/v17/DocumentLayout.backup-CAM-4HQ8144.json
/.vs/JACS/v17/DocumentLayout-CAM-4HQ8144.json
/.vs/JACS/v17/.suo
*.suo
*.vsidx
/.vs/JACS/FileContentIndex/24f565b3-c2e5-47b1-bb7e-1b8b787a6e98.vsidx
/.vs/JACS/FileContentIndex/24f565b3-c2e5-47b1-bb7e-1b8b787a6e98.vsidx
/.vs/JACS/CopilotIndices/17.14.719.50355/CodeChunks.db
*.db-shm
*.db-wal
/.vs/JACS/CopilotIndices/17.14.719.50355/SemanticSymbols.db
*.db
/.vs/JACS/copilot-chat/5a70cec8/sessions/7979cb6f-d08e-4570-957d-94f0ce6bf865
/.vs/JACS/copilot-chat/5a70cec8/sessions/3b91cc04-9994-45f2-b67c-6b17101281ba
/bin/tjc.Modules.JACS.dll
/bin/tjc.Modules.JACS.pdb
*.targets
*.dll
/packages/MSBuildTasks.1.5.0.235/tools/MSBuild.Community.Tasks.xsd
/packages/MSBuildTasks.1.5.0.235/tools/MSBuild.Community.Tasks.xml
*.p7s
*.nupkg
*.cmd
*.ps1
*.exe
*.txt
*.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/JACS.csproj.AssemblyReference.cache
/obj/Debug/JACS.csproj.CoreCompileInputs.cache
/obj/Debug/JACS.csproj.FileListAbsolute.txt
/obj/Debug/tjc.Modules.JACS.dll
/obj/Debug/tjc.Modules.JACS.pdb
/node_modules/@fullcalendar/adaptive/README.md
/node_modules/@fullcalendar/adaptive/package.json
/node_modules/@fullcalendar/adaptive/LICENSE.md
/node_modules/@fullcalendar/adaptive/index.js
/node_modules/@fullcalendar/adaptive/index.global.min.js
/node_modules/@fullcalendar/adaptive/index.global.js
/node_modules/@fullcalendar/adaptive/index.d.ts
/node_modules/@fullcalendar/adaptive/index.cjs
/node_modules
/package-lock.json
/package.json
