.command-icon {
    cursor: pointer;
    width:16px;
    max-width:16px;
    
}
.phone, .custom-control-label {
    cursor: pointer;
}
.form-check input[type='checkbox']{margin-right:8px}
#drpfilter{
    max-width:150px;
}
.radio-button-list{display:block;}
.radio-button-list label{
    padding: 0 8px 0 5px
}
.edit-form fieldset {
    padding: 10px 5px 5px 5px;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: solid;
    border-color: #ced4da;
border-radius:5px;
}
.edit-form legend {
    width:auto;
    display:inline-block;
    padding:0 5px;
    font-size: 1rem;
    font-weight:700;
}
.dnnFileUploadScope{float:none !important}
    .dnnFileUploadScope .dnnFormItem span{min-width:4rem;}

label em{ color:red}
.group-list{
    min-width:13rem; padding:.5rem;
}
#groups label{display:block}
.list-commands i {
    font-size: 2rem;
}
.employee-thumb img{
    max-height:32px !important;
}

.modal-progress {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.center-progress {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 50px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
.ui-widget-overlay {
z-index:1051 !important;
}
.ui-widget-content {
    z-index: 1052 !important;
}
