<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.ApiDescription.Client" version="6.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.OpenApi" version="1.6.4" targetFramework="net48" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="NSwag.ApiDescription.Client" version="13.19.0" targetFramework="net48" developmentDependency="true" />
  <package id="NSwag.MSBuild" version="13.19.0" targetFramework="net48" developmentDependency="true" />
</packages>