.list-group-horizontal-sm .list-group-item {
    padding: 0.375rem 0.75rem !important;
}
label em {
    color: #dc3545 !important
}
#dropOnMe {
    height: 100px;
    padding: 10px;
    border: 2px dotted #666;
    background-color: #ddd;
    border-radius: .5em;
}
.center-text {
    margin: auto;
    width: 50%;
    padding: 15px;
}

.motion-list {
    margin-left: 20px;
    margin-bottom:0px
}

.custom-validator {
    font-weight: bold
}
#filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}

    #filedrag.hover {
        color: #f00;
        border-color: #f00;
        border-style: solid;
        box-shadow: inset 0 3px 4px #888;
    }

img {
    max-width: 100%;
}

pre {
    width: 95%;
    height: 8em;
    font-family: monospace;
    font-size: 0.9em;
    padding: 1px 2px;
    margin: 0 0 1em auto;
    border: 1px inset #666;
    background-color: #eee;
    overflow: auto;
}

#messages {
    padding: 0 10px;
    margin: 1em 0;
/*    border: 1px solid #999;
*/}

#progress p {
    display: block;
    width: 100%;
    padding: 2px 5px;
    margin: 2px 0;
    border: 1px inset #446;
    border-radius: 5px;
    background: #eee url("/Desktopmodules/tjc.modules/judicialreferral/progress.png") 100% 0 repeat-y;
}

    #progress p.success {
        background: #0c0 none 0 0 no-repeat;
        color:#fff;
    }

    #progress p.failed {
        background: #c00 none 0 0 no-repeat;
    }

.fieldset-border {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
    border-radius:10px;
}
.fieldset-border legend{
    font-size:1rem;
    width:auto !important;
    padding:0px 10px;
}