<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Intranet" connectionString="Data Source=judmansql03;Initial Catalog=intranet;uid=intranet_web_user;pwd=Ej_bWD}nWw@A9h;timeout=900;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- SFTP settings for dl-site -->
		<add key="dl-site:Host" value="ftp.flcourts.org" />
		<add key="dl-site:Username" value="12Cirftp" />
		<add key="dl-site:Password" value="Dmq7744z" />
		<add key="PeopleFirstDirectory" value="/" />
		<!-- SFTP settings for ul-site -->
		<add key="ul-site:Host" value="sftp01-prd.imageapi.com" />
		<add key="ul-site:Username" value="flosca12_sftp" />
		<add key="ul-site:Password" value="i$t#NK43&amp;5rB" />
		<add key="ul-site:Directory" value="/lookup/Production/" />

		<!-- Local directory and filenames -->
		<add key="LocalDirectory" value="D:\PeopleFirstDownloads" />
		<add key="AxiomExportFilename" value="12Circuit_Lookup_[DATE]" />
	</appSettings>
</configuration>
