.check-list {
    columns: 5;
    -webkit-columns: 5;
    -moz-columns: 5;
    list-style: none;
    padding-left: 0;
}

    .check-list li input {
        margin-right: .7rem
    }

    .check-list li label {
        text-transform: lowercase
    }

        .check-list li label:first-line {
            text-transform: capitalize
        }
.search-link{
    cursor:pointer;
}
.dnnFormPopup .ui-dialog-titlebar{padding:10px !important}
.exclude{cursor:pointer;}
.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}
    .checkbox-menu {padding-left:8px}
    .checkbox-menu li input {
        margin: 0px 5px;
        top: 2px;
        position: relative;
    }
.tooltip,.tooltip p{
    color:#fff !important;
}
.tooltip-inner {
    max-width: 100% !important;
}
.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}